.dictionary-card {
  width: 1000px;
  margin: 30px auto;
  padding: 25px;
  border-radius: 10px;
  background: rgba(179, 226, 246, 0.69);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.dictionary-card h2 {
  margin-bottom: 20px;
}

.dictionary-card h3 {
  margin-top: 25px;
}

.dictionary-card ul {
  padding-left: 20px;
}

.dictionary-card li {
  margin-bottom: 10px;
}

.synonyms {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  text-align: left;
}

.synonyms span {
  background: #fde68a;
  padding: 6px 12px;
  border-radius: 20px;
}
